// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.css';

// Font Awesome
$fa-font-path: "../webfonts";
@import "~line-awesome/dist/line-awesome/css/line-awesome.min.css";
@import "~line-awesome/dist/font-awesome-line-awesome/css/all.min.css";


@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

@import "~@dmuy/jquery-datepicker/duDatepicker.css";


.error {
    color: red;
}
